/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Shared/SectionHeader/style.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.style_section_header__6XODW {
  background-color: aquamarine;
  width: 100%;
  min-height: 40vh;
  background-image: url("https://themebeyond.com/pre/petco-prev/petco-live/img/bg/breadcrumb_bg.jpg");
}

.style_header_title__tOEp_ {
  background-color: #f04336; /* Red background color */
  color: white; /* White text color */
  border: none; /* No border */
  padding: 5px 20px; /* Padding around the text */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline-block display */
  font-size: 16px; /* Font size */
  border-radius: 10px 10px 20px 20px; /* Rounded top corners */
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%); /* Clip path value */
  font-family: Arial, sans-serif; /* Font family */
}

