.bg_img {
  background-image: url("../../asset/abstract-smooth-orange-background-layout-designstudioroom-web-template-business-report-with-smooth-circle-gradient-color_1258-96066.jpg");
  height: 100%;
  width: 100%;
}
